@font-face {
    font-family: 'CascadiaMono';
    src: url('/../src/assets/CascadiaMono.ttf');
}

$family-monospace: 'CascadiaMono';

$black: #181818;
$white: #ededed;

$red: #d12929;
$pink: #ff6ec7;
$blue: #08a0e9;

$text: $white;